h2 {
  color: #fff !important;
}
.table td,
th {
  background-color: #f6f6f6 !important;
}

a {
  font-weight: 500;
  color: #646cff !important;
  text-decoration: inherit !important;
  background-color: inherit !important;
}
